{% extends "app/layout.html" %}

{% block content %}

{% if True %}
<form action="{% url 'create_plan' %}" method="post" class="form-horizontal">
    {% csrf_token %}
    <input type="submit" class="btn btn-default" value="Create new plan"/>
</form>
{% endif %}

<table class="table">
    <tr>
        <th>No.</th>
		<th>Title</th>
        <th>Type</th>
        <th>Project</th>
        <th>Status</th>
        <th>Created by</th>
        <th>Department</th>
        <th></th>
    </tr>
    {% for plan in user_plans %}
    <tr> 
        <td>{{ forloop.counter }}</td>
        <td>{{ plan.title }}</td>
        <td>{{ plan.work_type }}</td>
        <td>{% firstof plan.project '' %}</td>
        <td>{{ plan.status }}</td>
        <td>{% firstof plan.created_by 'Auto' %}</td>
        <td>{{ plan.created_by.branch }}</td>
        <td>
        <form action="{% url 'edit_plan' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="plan" value="{{ plan.id }}" />
            <input type="submit" class="btn btn-default" value="Edit" />
        </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
